#logoutRow{
   display: none;
}

#alertRow{
   display: none;
}

#links a {
   padding: 5px;
}

.container{
   max-width: 704px;
}

.img-row{
   padding: 5px;
}

.thumbnail:hover{
   border: 2px solid #F7901E;
}

.pricing-col{
   text-align: center;
}
